.heading h4{
    margin-left: auto;
    margin-right: auto;
    color: rgb(108, 187, 255);
}

.container {
    width: 180px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: 2px grey;
    background-color: rgb(219, 238, 254);
    border-radius: 5px;
    padding: 10px;
}

.container form input {
    border: none;
    border-radius: 2px;
    height: auto;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}