.chat-body {
    height: 600px;
}

.nav{
    display: flex;
    background-color: aqua;
    border-radius: 10px;
    height: auto;
}

.title {
    margin-left: 5%;
}

.symbol {
    margin-left: auto;
    margin-right: 1%;
    align-self: center;
    display: flex;
}

.symbol button {
    font-size: 100%;
    color: #fff;
    background-color: #075e54;
    border: none;
    border-radius: 20px;
    width: 130px;
    height: 35px;
    margin: 2px;
    padding: 2%;
}

.content {
    display: flex;
    height: 550px;
}

.sidebar {
    width: 300px;
    background-color: rgba(99, 212, 220, 0.5);
    margin: 4px;
    padding: 10px;
    border-radius: 10px;
}

.Group {
    display: flex;
    justify-content: center;
    width: auto;
    height: 5%;
    padding: 2%;
    margin: 2px 1px;
    border-radius: 3px;
    background-color:rgb(195, 250, 255);
}

.Group:hover {
    background-color:#ccc;
    cursor: pointer;
}

.Group.active {
    background-color:#ccc;
}

.chat {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    background-color: rgb(99, 212, 220, 0.5);
    border-radius: 10px;
}

.chat .head{
    padding-top: 0%;
    /* background-color: #a4a2a2; */
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
.head .grpname{
    width: fit-content;
}

.grpname h3{
    margin: none;
}

.chat .messagebox {
    background-color: #a2dfdd80;
    height: 405px;
    margin-bottom: 1%;
    overflow: auto;
}

.messageright {
    width: 60%;
    height: auto;
    padding: 0.2%;
    margin: 0.5% 0.5% 0.5% auto;
    border-radius: 10px;
    background-color: #d1d1d1;
}

.messageleft {
    width: 60%;
    height: auto;
    padding: 0.2%;
    margin: 0.5% 0.5% auto 0.5%;
    border-radius: 10px;
    background-color: #d1d1d1;
}

.message .name {
    font-weight: bold;
}

.chat-footer {
    padding: 10px;
    display: flex;
    margin: 0px 4px;
    align-items: center;
    border-radius: 5px;
}

.chat-footer textarea {
    flex: 1;
    resize: none;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-footer button {
    padding: 5px 10px;
    background-color: #075e54;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}