.profile{
    background-color: #ccc;
    width: fit-content;
    padding: 6px;
    border-radius: 7px;
    color: blueviolet;
    height: 23px;
    align-self: center;
    display: inline-table;
}

.chat-body {
    height: 600px;
}

.nav {
    display: flex;
    background-color: aqua;
    border-radius: 10px;
    height: auto;
}

.title {
    margin-left: 5%;
    display: flex;
}


.symbol {
    margin-left: auto;
    margin-right: 1%;
    align-self: center;
    display: flex;
}

.symbol button {
    font-size: 100%;
    color: #fff;
    background-color: #075e54;
    border: none;
    border-radius: 20px;
    width: 130px;
    height: 35px;
    margin: 2px;
    padding: 2%;
}

.content {
    display: flex;
    height: 550px;
}

.sidebar {
    width: 300px;
    background-color: rgba(99, 212, 220, 0.5);
    margin: 4px;
    padding: 0px;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width:none;
}


.sidebar::-webkit-scrollbar {
    display: none;
    /* width: 0.5em; */
}

/* .sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    display: none;
    background-color: rgba(99, 212, 220, 0.5);
    border-radius: 10px;
} */
/* 
.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(99, 212, 220, 0.8);
} */

.Group {
    display: flex;
    justify-content: center;
    font-size: larger;
    width: auto;
    height: 5%;
    padding: 2%;
    margin: 2px 1px;
    border-radius: 3px;
    background-color: rgb(195, 250, 255);
}

/* .Group:hover {
    background-color: #f2f2f2;
    cursor: pointer;
} */

.Group.active {
    background-color: #ccc;
}


.chat {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    background-color: rgb(99, 212, 220, 0.5);
    border-radius: 10px;
}

.head {
    padding-top: 0%;
    background-color: rgba(230, 243, 255, 0.525);
    display: flex;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
}

.grpname {
    width: fit-content;
}

.grpname h3 {
    margin: none;
}

.options {
    width: fit-content;
    margin-left: 10px;
    margin-right: 1%;
    height: 5%;
    width: 30px;
    border-radius: 5px;
    margin-left: auto;
}

.options:hover {
    cursor: pointer;
}

.options h2 {
    width: 28px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    overflow: visible;
}

.optiondiv {
    display: none;
    position: absolute;
    top: 12%;
    transform: translateX(-66%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 7px;
    white-space: nowrap;
    overflow: hidden;
    flex-direction: column;
}

.optiondiv button {
    width: 100px;
    background-color: #d1d1d1;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-bottom: 2px;
}

.groupmemberlist{
    display: none;
    position: absolute;
    top: 16%;
    transform: translateX(-175%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 7px;
    white-space: nowrap;
}

.groupmemberlistoptions {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-281%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 7px;
    white-space: nowrap;
}

.optionsbutton{
    padding: 2px;
    width: auto;
    background-color: lightgrey;
    margin-top: 1px;
    border-radius: 4px;
}


.show-popup {
    display: block;
}

.chat .messagebox {
    background-color: #a2dfdd80;
    height: 405px;
    margin-bottom: 1%;
    overflow: auto;
}

.messageright {
    width: 60%;
    height: auto;
    padding: 0.2%;
    margin: 0.5% 0.5% 0.5% auto;
    border-radius: 10px;
    background-color: #d1d1d1;
}

.messageleft {
    width: 60%;
    height: auto;
    padding: 0.2%;
    margin: 0.5% 0.5% auto 0.5%;
    border-radius: 10px;
    background-color: #d1d1d1;
}

.message .name {
    font-weight: bold;
}

.chat-footer {
    padding: 10px;
    display: flex;
    margin: 0px 4px;
    align-items: center;
    border-radius: 5px;
}

.chat-footer textarea {
    flex: 1;
    resize: none;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-footer button {
    padding: 5px 10px;
    background-color: #075e54;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}